/* PHASE 7: Online */

.online {
  background: #0c0;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 5px 30px;
  position: absolute;
  transform: rotate(-45deg) translateX(-25%);
  top: -10px;
  left: -10px;
  box-shadow: 0 1px 0 0 #070;
}
